/* CSS Document */
@charset 'utf-8';
/* fonts */
@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
/* fonts icon */
@import url(../images/fontello/css/tajemnik.css);
@import url(../images/fontello/css/tajemnik-ie7.css);
/* css reset */
a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,canvas,caption,center,cite,code,col,colgroup,command,datalist,dd,del,details,dfn,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,head,header,hgroup,h1,h2,h3,h4,h5,h6,hr,html,i,iframe,img,ins,kbd,keygen,label,legend,li,link,map,mark,menu,meta,meter,nav,noframes,noscript,object,ol,optgroup,option,output,p,param,pre,progress,q,rp,rt,ruby,s,samp,script,section,small,source,span,strike,strong,style,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
table,tr,th,td{vertical-align:top;}
ul,ul li,menu,menu li{margin:0;padding:0;list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
address{font-style:normal;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
input,textarea{font-family:'Source Sans Pro',sans-serif;font-size:100%;}
input.submit{width:0;overflow:visible;}
input.submit[class]{width:auto;}
article,aside,canvas,figcaption,figure,footer,header{display:block;}
/* elements */
body{font-size:21px;line-height:1.2;font-family:'Source Sans Pro',sans-serif;color:#363636;text-align:left;background:#f3f3f3 url(../images/bg/05.png);}
a{color:#e50004;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position: relative;padding:0 0 0 24px;margin:0;}
ul li:before, ul li .before{position: absolute;left:0;top: 5px;color: #999;font-size: 16px;line-height: 1;content: '\e805';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e805');font-family: 'tajemnik';}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #c7c7c7;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* skype prevent */
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
/* layout */
#page-header{position: fixed;top:0;left:0;width: 100%;z-index: 9999;}
#page-top{background: #f9f9f9;}
#page-top .inner{*zoom:1;width:960px;padding: 0 20px 10px 20px;margin: 0 auto;text-align: left;}
#page-top .inner:before,#page-top .inner:after{display:table;content:"";}
#page-top .inner:after{clear:both;}
#page-top .logo{float: left;width: 240px;padding: 28px 0 0;}
#page-top .logo a{display: block;position: relative;text-indent: -9999px;height: 72px;background: url(../images/logo/01.png) no-repeat;}
.container{position: relative;background: #fff;}
/* mainmenu */
#mainmenu{position: relative;z-index: 99999;background: #fff url(../images/bg/03.png) no-repeat top;border-top: 2px solid #f5f5f5;border-bottom: 6px solid #e50004;}
#mainmenu .inner{width: 960px;padding: 0 20px;margin: 0 auto;text-align: left;}
/* mods */
.mod_menu-top{padding: 53px 0 0 25px;width:395px;float: left;}
.mod_menu-top ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-top ul:before,.mod_menu-top ul:after{display:table;content:"";}
.mod_menu-top ul:after{clear:both;}
.mod_menu-top ul li{margin: 0 0 0 32px;padding: 0;float: left;font-size: 18px;line-height: 1;text-transform: uppercase;font-family: 'Titillium Web',sans-serif;}
.mod_menu-top ul li:before,.mod_menu-top ul li .before{display: none;}
.mod_menu-top ul li a{color: #363636;text-decoration: none;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-top ul li a:hover,.mod_menu-top ul li.act a{color: #e50004;}
.mod_custom-kontakt-top{float: right;width:300px;font-size: 16px;line-height: 1.1;text-align: right;padding: 22px 0 0 0;font-family: 'Titillium Web',sans-serif;}
.mod_custom-kontakt-top p{margin: 0;}
.mod_custom-kontakt-top i{display: inline-block;font-size: 17px;}
.mod_custom-kontakt-top .lead{font-size: 36px;line-height: 1.3;color: #1b4d8f;font-weight: bold;}
.mod_custom-kontakt-top .lead i{position: relative;top:-5px;height: 30px;width:30px;text-align: center;font-size: 22px;line-height: 30px;color: #fff;background: #1b4d8f;white-space: nowrap;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.mod_menu-main{position: relative;}
.mod_menu-main ul.menu{*zoom:1;position: relative;z-index: 1;margin: 0;padding: 0;}
.mod_menu-main ul.menu:before,.mod_menu-main ul.menu:after{display:table;content:"";}
.mod_menu-main ul.menu:after{clear:both;}
.mod_menu-main ul.menu li{margin: 0 93px 0 0;padding: 0;font-size: 40px;line-height: 1;float: left;font-family: 'Titillium Web',sans-serif;}
.mod_menu-main ul.menu li:before, .mod_menu-main ul.menu li .before{display: none;}
.mod_menu-main ul.menu li a{position: relative;display: block;padding: 29px 0;float: left;color: #8f8f8f;text-shadow: 0 0 1px rgba(0,0,0,0.3);text-decoration: none;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-main ul.menu li a:before, .mod_menu-main ul.menu li a .before{position: absolute;content: '';left:50%;margin-left: -42px;top:74px;width: 84px;height: 66px;background: url(../images/ico/01.png) no-repeat;}
.mod_menu-main ul.menu .item-02 a:before,.mod_menu-main ul.menu .item-02 a .before{background-image: url(../images/ico/02.png);}
.mod_menu-main ul.menu .item-03 a:before,.mod_menu-main ul.menu .item-03 a .before{background-image: url(../images/ico/03.png);}
.mod_menu-main ul.menu .item-04 a:before,.mod_menu-main ul.menu .item-04 a .before{background-image: url(../images/ico/04.png);}
.item-01 .mod_menu-main ul.menu .item-01 a:before,.item-01 .mod_menu-main ul.menu .item-01 a .before,
.item-02 .mod_menu-main ul.menu .item-02 a:before,.item-02 .mod_menu-main ul.menu .item-02 a .before,
.item-03 .mod_menu-main ul.menu .item-03 a:before,.item-03 .mod_menu-main ul.menu .item-03 a .before,
.item-04 .mod_menu-main ul.menu .item-04 a:before,.item-04 .mod_menu-main ul.menu .item-04 a .before{background-position: bottom;}
.mod_menu-main ul.menu li a:hover{color: #e50004;}
.mod_menu-main .submenu{*zoom:1;position: absolute;left:0;top:100%;margin-top: 6px;background: #163e73 url(../images/bg/04.png) no-repeat;-webkit-border-radius: 0 0 24px 24px;-moz-border-radius: 0 0 24px 24px;border-radius: 0 0 24px 24px;overflow: hidden;}
.mod_menu-main .submenu .icon-cancel{position: absolute;z-index: 9;top:5px;right:5px;font-size: 22px;line-height: 1;text-transform: none;color: #fff;content: '\e80b';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e80b');font-family: 'tajemnik';}
.mod_menu-main .submenu .icon-cancel:hover{color:#e50004;}
.mod_menu-main .submenu:before,.mod_menu-main .submenu:after{display:table;content:"";}
.mod_menu-main .submenu:after{clear:both;}
.mod_menu-main .submenu ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-main .submenu ul:before,.mod_menu-main .submenu ul:after{display:table;content:"";}
.mod_menu-main .submenu ul:after{clear:both;}
.mod_menu-main .submenu>ul>li{display: none;width:240px;float: left;margin: 0;padding: 0;}
.mod_menu-main .submenu>ul>li:before,.mod_menu-main .submenu>ul>li>.before{display: none;}
.mod_menu-main .submenu ul ul{position: relative;padding: 57px 10px 5px 30px;}
.mod_menu-main .submenu>ul>li>ul:before,.mod_menu-main .submenu>ul>li>ul>.before{position: absolute;display: block;top:165px;left: -19px;color: #fff;font-size: 50px;line-height: 1;content: '\e809';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e809');font-family: 'tajemnik';}
.mod_menu-main .submenu>ul>li:first-child>ul:before{display: none;}
.mod_menu-main .submenu ul ul li{font-size: 13px;color: #fff;padding: 0 0 0 24px;margin: 0 0 13px;line-height: 1.4;font-family: 'Titillium Web',sans-serif;}
.mod_menu-main .submenu ul ul li:before,.mod_menu-main .submenu ul ul li .before{top: 0;color: #fff;content: '\e800';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e800');}
.mod_menu-main .submenu nav{display: none;padding: 20px 10px 24px;text-align: center;border-top: 1px solid #0b2647;-webkit-box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);-moz-box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);}
.mod_menu-main .submenu nav a{display: inline-block;background: #e50004;color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);padding: 6px 32px;border: 6px solid #fff;text-decoration: none;font-size: 17px;text-transform: uppercase;font-weight: bold;font-family: 'Titillium Web',sans-serif;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-main .submenu nav a:hover{color: #e50004;text-shadow: none;background: #fff;border-color: #e50004;}
.item-01 .mod_menu-main .submenu nav,
.item-02 .mod_menu-main .submenu nav,
.item-03 .mod_menu-main .submenu nav,
.item-04 .mod_menu-main .submenu nav,
.item-01 .mod_menu-main .submenu .item-01,
.item-02 .mod_menu-main .submenu .item-01,
.item-02 .mod_menu-main .submenu .item-02,
.item-03 .mod_menu-main .submenu .item-01,
.item-03 .mod_menu-main .submenu .item-02,
.item-03 .mod_menu-main .submenu .item-03,
.item-04 .mod_menu-main .submenu .item-01,
.item-04 .mod_menu-main .submenu .item-02,
.item-04 .mod_menu-main .submenu .item-03,
.item-04 .mod_menu-main .submenu .item-04{display: block;}
.menu-hide .mod_menu-main .submenu nav,
.menu-hide .mod_menu-main .submenu .item-01,
.menu-hide .mod_menu-main .submenu .item-02,
.menu-hide .mod_menu-main .submenu .item-03,
.menu-hide .mod_menu-main .submenu .item-04{display: none;}
/* slideshow */
.mod_custom-header{position: relative;overflow: hidden;padding: 220px 0 0;min-width: 1000px;}
.mod_custom-header:after,.mod_custom-header .after{content: '';position: absolute;z-index: 999;top:100%;width:100%;height:1px;-webkit-box-shadow: 0 0 8px #000;-moz-box-shadow: 0 0 8px #000;box-shadow: 0 0 8px #000;}
.mod_custom-header article{position: relative;height: 380px;width: 100%;min-width: 1000px;background: url(../images/bg/02.png);}
.mod_custom-header figure img{position: absolute;left: 50%;margin-left: -700px;}
.mod_custom-header .content{position: relative;width: 470px;padding:  70px 440px 0 90px;margin: 0 auto;font-size: 36px;line-height: 1.3;color: #363636;text-transform: uppercase;font-family: 'Titillium Web',sans-serif;}
.mod_custom-header h2{font-weight: normal;font-size: 42px;line-height: 1;color: #e50004;margin: 0 0 15px;}
.mod_custom-intro{min-width: 1000px;background:#fff url(../images/bg/06.png) no-repeat center;}
.mod_custom-intro .inner{padding: 70px 90px 0;width: 820px;margin: 0 auto;text-align: left;}
.mod_custom-intro .mod-title{font-size: 34px;line-height: 1.3;color: #363636;margin: 0 0 60px;font-weight: normal;font-family: 'Titillium Web',sans-serif;}
.mod_custom-intro .mod-left{width:280px;float: left;}
.mod_custom-intro .mod-center{width:260px;float: left;text-align: center;}
.mod_custom-intro .mod-right{width:280px;float: left;text-align: right;}
.mod_custom-intro .mod-right mark{text-transform: uppercase;text-decoration: underline;font-weight: bold;}
.mod_custom-intro .mod-right nav{padding: 10px 0 0;}
.mod_custom-intro .mod-right nav a{display: inline-block;padding: 8px 28px;border: 6px solid #e50004;color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);background: #e50004;text-transform: uppercase;text-decoration: none;font-size: 21px;line-height: 1;font-family: 'Titillium Web',sans-serif;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-intro .mod-right nav a:hover{color: #e50004;text-shadow: none;background: #fff;}
.mod_custom-about{padding: 217px 0 0;}
.mod_custom-about .inner{width: 820px;padding: 60px 90px 0;margin: 0 auto;border-top: 3px dashed #c7c7c7;}
.mod_custom-about .mod-title{font-size: 42px;line-height: 1;color: #e50004;text-transform: uppercase;margin: 0 0 30px;font-weight: normal;font-family: 'Titillium Web',sans-serif;}
.mod_custom-about .mod-left{float: left;width:390px;}
.mod_custom-about .mod-left p{margin-bottom: 28px;}
.mod_custom-about .mod-right{float: right;width:390px;}
.mod_custom-about .mod-right p{margin-bottom: 28px;}
.mod_custom-about .mod-right address{margin: 0 0 28px;color: #1b4d8f;}
.mod_custom-about .mod-right small{display: inline-block;font-size: 14px;}
.mod_custom-reference{padding: 217px 0 0;}
.mod_custom-reference .inner{width: 820px;padding: 60px 90px 0;margin: 0 auto;border-top: 3px dashed #c7c7c7;}
.mod_custom-reference .mod-title{font-size: 42px;line-height: 1;color: #e50004;text-transform: uppercase;margin: 0 0 35px;font-weight: normal;font-family: 'Titillium Web',sans-serif;}
.mod_custom-reference ul{*zoom:1;margin: 0 0 0 -20px;padding: 0;}
.mod_custom-reference ul:before,.mod_custom-reference ul:after{display:table;content:"";}
.mod_custom-reference ul:after{clear:both;}
.mod_custom-reference ul li{float: left;margin: 0 0 20px 20px;padding: 0;text-align: center;width: 190px;}
.mod_custom-reference ul li:before,.mod_custom-reference ul li .before{display: none;}
.mod_custom-reference ul li a{text-decoration: none;}
.mod_custom-reference figure{height: 200px;}
.mod_custom-reference .label{position: relative;z-index: 1;min-height: 88px;color: #fff;font-size: 16px;line-height: 1.5;padding: 24px 10px 5px;background: #8f8f8f;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-reference a:hover .label{background: #e50004;}
.mod_custom-reference .label:before,.mod_custom-reference .label .before{position: absolute;left: 50%;top:-18px;margin-left: -12px;font-size: 29px;line-height: 1;color: #8f8f8f;text-shadow: 0 1px 1px #fff;content: '\e804';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e804');font-family: 'tajemnik';-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-reference a:hover .label:before,.mod_custom-reference a:hover .label .before{color: #e50004;top:-23px;}
.mod_custom-reference .url{position: relative;padding: 19px 5px 12px;margin: -8px 0 0;color:#8f8f8f;font-size: 14px;background: #e9e9e9;-webkit-border-radius: 0 0 8px 8px;-moz-border-radius: 0 0 8px 8px;border-radius: 0 0 8px 8px;}
.mod_custom-kontakt{padding: 217px 0 130px;}
.mod_custom-kontakt .inner{width: 820px;padding: 60px 90px 0;margin: 0 auto;border-top: 3px dashed #c7c7c7;}
.mod_custom-kontakt .mod-title{font-size: 42px;line-height: 1;color: #e50004;text-transform: uppercase;margin: 0 0 30px;font-weight: normal;font-family: 'Titillium Web',sans-serif;}
.mod_custom-kontakt .mod-left{width: 390px;float: left;}
.mod_custom-kontakt .mod-right{width: 390px;float: right;}
.mod_custom-kontakt .email,
.mod_custom-kontakt .home,
.mod_custom-kontakt .time,
.mod_custom-kontakt .location{position: relative;padding-left: 40px;font-size: 21px;}
.mod_custom-kontakt .phone{position: relative;font-size: 36px;line-height: 1;font-weight: bold;padding-left: 40px;margin-top: -13px;font-family: 'Titillium Web',sans-serif;}
.mod_custom-kontakt .email:before,
.mod_custom-kontakt .email .before{position: absolute;left:0;top:50%;font-size: 25px;margin-top: -15px;text-align: center;content: '\e801';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e801');font-family: 'tajemnik';}
.mod_custom-kontakt .home:before,
.mod_custom-kontakt .home .before{position: absolute;left:0;top:50%;margin-top: -15px;color: #fff;width: 30px;height: 30px;line-height: 30px;text-align: center;background: #363636;content: '\e80c';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e80c');font-family: 'tajemnik';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.mod_custom-kontakt .time:before,
.mod_custom-kontakt .time .before{position: absolute;left:0;top:50%;margin-top: -15px;color: #fff;width: 30px;height: 30px;line-height: 30px;text-align: center;background: #363636;content: '\e80e';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e80e');font-family: 'tajemnik';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.mod_custom-kontakt .location:before,
.mod_custom-kontakt .location .before{position: absolute;left:0;top:50%;margin-top: -15px;color: #fff;width: 30px;height: 30px;line-height: 30px;text-align: center;background: #363636;content: '\e80d';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e80d');font-family: 'tajemnik';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.mod_custom-kontakt .phone:before,
.mod_custom-kontakt .phone .before{position: absolute;left:0;top:50%;margin-top: -15px;color: #fff;width: 30px;height: 30px;font-size: 22px;line-height: 30px;text-align: center;background: #363636;content: '\e808';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e808');font-family: 'tajemnik';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
/* page-footer */
#page-footer{position: absolute;bottom:0;left: 0;width: 100%;border-top: 2px solid #e6e6e6;min-width: 1000px;background: #f3f3f3 url(../images/bg/03.png) no-repeat top;}
#page-footer .inner{*zoom:1;width: 820px;padding: 35px 90px;margin: 0 auto;}
#page-footer .inner:before,#page-footer .inner:after{display:table;content:"";}
#page-footer .inner:after{clear:both;}
#page-footer .copy{float: left;font-size:  13px;width: 520px;color: #c1c1c1;}
#page-footer .copy mark{color: #8f8f8f;}
#page-footer .xart{float: right;width: 300px;text-align: right;font-size: 11px;text-transform: uppercase;}
#page-footer .xart a{text-decoration: none;color: #8f8f8f;}
#page-footer .xart img{position: relative;margin: -3px 0 0 5px;float: right;}