
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-angle-circled-left:before { content: '\e806'; } /* '' */
.icon-angle-circled-right:before { content: '\e805'; } /* '' */
.icon-angle-circled-up:before { content: '\e804'; } /* '' */
.icon-angle-circled-down:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */