@font-face {
  font-family: 'tajemnik';
  src: url('../font/tajemnik.eot?80268633');
  src: url('../font/tajemnik.eot?80268633#iefix') format('embedded-opentype'),
       url('../font/tajemnik.woff?80268633') format('woff'),
       url('../font/tajemnik.ttf?80268633') format('truetype'),
       url('../font/tajemnik.svg?80268633#tajemnik') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tajemnik';
    src: url('../font/tajemnik.svg?80268633#tajemnik') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tajemnik";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-angle-circled-left:before { content: '\e806'; } /* '' */
.icon-angle-circled-right:before { content: '\e805'; } /* '' */
.icon-angle-circled-up:before { content: '\e804'; } /* '' */
.icon-angle-circled-down:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */